@model Equalsys.Models.Tbl_Karyawan

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    @using (Html.BeginForm("Edit", "Karyawan", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <h1>Karyawan Details</h1>
        <hr />
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.NamaDepan, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NamaDepan, new { htmlAttributes = new { @class = "form-control", @readonly = "ReadOnly" } })
                    @Html.ValidationMessageFor(model => model.NamaDepan, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NamaTengah, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NamaTengah, new { htmlAttributes = new { @class = "form-control", @readonly = "ReadOnly" } })
                    @Html.ValidationMessageFor(model => model.NamaTengah, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NamaBelakang, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NamaBelakang, new { htmlAttributes = new { @class = "form-control", @readonly = "ReadOnly" } })
                    @Html.ValidationMessageFor(model => model.NamaBelakang, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TanggalLahir, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("TanggalLahir", Model.TanggalLahir, new
               {
                   @type = "date",
                   @class = "form-control",
                   @readonly = "ReadOnly",
                   //data_date_format = "yyyy-mm-dd",
                   @Value = Model.TanggalLahir.ToString("yyyy-MM-dd")
               })
                    @Html.ValidationMessageFor(model => model.TanggalLahir, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.JenisKelamin, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.JenisKelamin, new { htmlAttributes = new { @class = "form-control", @readonly = "ReadOnly" } })
                    @Html.ValidationMessageFor(model => model.JenisKelamin, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Alamat, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Alamat, new { htmlAttributes = new { @class = "form-control", @readonly = "ReadOnly" } })
                    @Html.ValidationMessageFor(model => model.Alamat, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Pekerjaan, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Pekerjaan, new { htmlAttributes = new { @class = "form-control", @readonly = "ReadOnly" } })
                    @Html.ValidationMessageFor(model => model.Pekerjaan, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    }

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Error
        </div>
    }

    @if (ViewBag.valid != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.valid
        </div>
    }

<div>
    @Html.ActionLink("Edit", "Edit", new { Id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</div>
</body>
</html>
